/* ------------ BODY/WHOLE PAGE ------------*/

* {
    font-family: "Inter";
    scrollbar-gutter: stable;
}

/* ------------ NAVIGATION BAR START ------------*/

.nav-bar {
    background-color: rgba(255, 255, 255, 0.8);
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    margin: 0 auto;
    padding: 8px 60px 0 60px;
    font-size: 14px;
    height: 50px;
    z-index: 4;
    transition: 250ms ease;

    
}


.nav-bar-container {
    position: absolute;
    left: 50%;
    top: 36px;
    transform: translate(-50%, -50%);
    height: 50px;
    font-weight: 300;
    padding-top: 5px;
    width: 700px;
    
}

.nav-bar-text {
    padding: 6px 10px 6px 10px;

}


#nav-more-stats, #nav-all-stats {
    position: absolute;
    padding: 6px 29px 6px 10px;
}

#nav-mission {
    position: absolute;
    width: 90px;
    margin: 0 90%;
}

#nav-more-stats {
    
    width: 90px;
    margin: 0 66%;
}

#nav-all-stats {
    width: 90px;
    margin: 0 23%;
}

#nav-overview {
    position: absolute;
    width: 90px;
    margin: 0 0;

}


.nav-bar-text:hover {
    cursor: grab;
    text-decoration: underline;

}

a {
    color: black;
    text-decoration: none;
}
a:visited {
    color: black;
    text-decoration: none;
}

.nav-current-page-overview {
    position: absolute;
    width: 80px;
    height: 26px;
    color: rgb(27, 134, 255);
    border-style: solid;
    border-radius: 200px;
    border-color: rgb(27, 134, 255);
    z-index: -1;
}

.nav-current-page-all-stats {
    position: absolute;
    width: 92px;
    height: 26px;
    margin: 0 22.8%;
    color: rgb(27, 134, 255);
    border-style: solid;
    border-radius: 200px;
    border-color: rgb(27, 134, 255);
    z-index: -1;
}

.nav-current-page-more-stats {
    position: absolute;
    width: 110px;
    height: 26px;
    margin: 0 65.8%;
    color: rgb(27, 134, 255);
    border-style: solid;
    border-radius: 200px;
    border-color: rgb(27, 134, 255);
    z-index: -1;
}

.nav-current-page-mission {
    position: absolute;
    width: 68px;
    height: 26px;
    margin: 0 90%;
    color: rgb(27, 134, 255);
    border-style: solid;
    border-radius: 200px;
    border-color: rgb(27, 134, 255);
    z-index: -1;
}

.nav-current-page-landing {
    position: absolute;
    width: 40px;
    height: 40px;
    margin: 0 48.2%;
    color: rgb(27, 134, 255);
    border-style: solid;
    border-radius: 200px;
    border-color: rgb(27, 134, 255);
    z-index: -1;
    transform: translate(-8%, -9%);
}

.nav-down-arrow {
    position: absolute;
    display: inline-block;
    padding-top: 3px;
    padding-left: 6px;
}

.logo {
    position: absolute;
    top: 0;
    margin: 0 48.2%;
    width: 38px;
    transition: 100ms;
}

#invert {
    opacity: 0;
    z-index: 2;
}

#invert:hover {
    opacity: 1;
    cursor: grab;
}

/* ------------ NAVIGATION BAR END ------------*/

/* ------------ DROP DOWN BAR ------------*/

.dropdown-text {
    position: absolute;
    font-weight: 500;
    font-size: 20px;
    padding-top: 40px;
    width: 150px;
    margin: 0 auto;
    transform: translate(-265px);
    opacity: 0;
    transition: 200ms;
    
}

.dropdown-text > div {
    
    padding-top: 20px;
    

    
}

#dropdown-mouse-area {
    position: absolute;
    height: 0px;
    width: 1400px;
    left: 50%;
    transform: translate(-50%, 30px);
    

}

    
















































.content {
    padding-left: 12px;
    margin: 0 auto;
    margin-top: 12rem;
    max-width: 72rem;
    min-width: 16rem;
    
}


/* ------------ MASSIVE HEADING IN THE MIDDLE OF THE PAGE ------------*/
.heading {
    text-align: center;
    font-weight: 600;
    font-size: 64px;
    letter-spacing: 1px;
    
}



/* ------------ SELECT BUTTONS/AREA UNIVERSAL (SINGLE BUTTON)------------ */
.select-area-heading {
    color: rgb(0, 0, 0);
    font-weight: 400;
    font-size: 16px;
}

.select-area {
    text-align: center;
    font-weight: 400;
    font-size: 16px;
    background-color: rgb(230, 230, 230);
    border-style: solid;
    border-color: rgb(230, 230, 230);
    border-width: 2px;
    border-radius: 100px;
    margin: 4px auto 8px auto;
    padding: 8px 34px 8px 14px;

}

.select-area-apply {
    text-align: center;
    color: rgb(0, 197, 10);
    font-weight: 400;
    font-size: 16px;
    border-style: solid;
    border-color: rgb(0, 197, 10);
    border-width: 2px;
    border-radius: 100px;
    width: fit-content;
    margin: 32px auto 0 auto;
    padding: 8px 14px 8px 14px;
    transition: 100ms;
}

.select-area-apply:hover {
    background-color: rgb(0, 197, 10);
    color: white;
    cursor: grab;

}

.select-area:hover {
    cursor: grab;
}

/* ------------ SELECT BUTTONS/AREA SPECIFIC TO PAGES ------------ */

#overview .select-area {
    width: fit-content;
}

#overview .select-area-heading {
    text-align: center;
}

#correlations .select-area {
    width: 500px;
}

#threats .select-area {
    width: 500px;
}




/* ------------ TRIPLE SELECT BUTTONS/AREA ------------ */

.triple-select-area-container {
    width: fit-content;
    margin: 0 auto;
}

.triple-select-area-heading {
    color: rgb(0, 0, 0);
    width: fit-content;
    margin: 0 auto;
}

.triple-select-area-heading > div {
    display: inline-block;
    width: fit-content;
    margin: 0 auto;
}

.triple-select-heading-one {
    transform: translate(-110px);
}

.triple-select-heading-two {
    transform: translate(-30px);
}

.triple-select-heading-three {
    transform: translate(80px);
}



.triple-select-area {
    text-align: center;
    display: inline-block;
    font-weight: 400;
    font-size: 16px;
    background-color: rgb(230, 230, 230);
    border-style: solid;
    border-color: rgb(230, 230, 230);;
    border-width: 2px;
   
    margin: 4px auto 20px auto;
    padding: 8px 34px 8px 14px;

}

#triple-select-area-one {
    
    width: 150px;
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
    
}

#triple-select-area-two {
    width: 150px;
  
}

#triple-select-area-three {
    width: 150px;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
    
 
}

.triple-select-area:hover {
    cursor: grab;
}

/* ------------ DOUBLE SELECT BUTTONS/AREA ------------ */

.double-select-area-container {
    color: white;
    width: fit-content;
    margin: 0 auto;
}

.double-select-area-heading {
    color: rgb(0, 0, 0);
    width: fit-content;
    margin: 0 auto;
}

.double-select-area-heading > div {
    display: inline-block;
    width: fit-content;
    margin: 0 auto;
}

.double-select-heading-one {
    transform: translate(-60px);
}

.double-select-heading-two {
    transform: translate(65px);
}

#threats .double-select-heading-two /* the 'calculation' drop down in the threats page*/{
    transform: translate(74px);
}

.double-select-area {
    text-align: center;
    display: inline-block;
    font-weight: 400;
    font-size: 16px;
    background-color: rgb(0, 0, 0);
    border-style: solid;
    border-color: rgb(0, 0, 0);
    border-width: 2px;
   
    margin: 4px auto 0px auto;
    padding: 8px 34px 8px 14px;

}

.double-select-area:hover {
    cursor: grab;
}

#double-select-area-one {
    
    width: 150px;
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
    
}

#double-select-area-two {
    width: 150px;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
  
}

/* ------------ DOUBLE FILTER OPTIONS BUTTONS/AREA ------------ */

.double-filter-options-container {
    color: black;
    width: fit-content;
    margin: 0 auto;
}

.double-filter-options-heading {
    color: rgb(180, 180, 180);
    width: fit-content;
    margin: 0 auto;
}

.double-filter-options-heading > div {
    display: inline-block;
    width: fit-content;
    margin: 0 auto;
}

.double-filter-options-one {
    transform: translate(-72px);
}

.double-filter-options-two {
    transform: translate(68px);
}

.double-filter-options {
    text-align: center;
    display: inline-block;
    font-weight: 400;
    font-size: 16px;
    border-color: rgb(200, 200, 200);
    border-style: solid;
    border-width: 1px;
    margin: 4px auto 8px auto;
    padding: 8px 34px 8px 14px;

}

.double-filter-options:hover {
    cursor: grab;
}

#double-filter-options-one {
    
    width: 150px;
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
    
}

#double-filter-options-two {
    width: 150px;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
  
}

































/* ------------ STRING DESCRIPTIONS (overview page for example) ------------ */

.data-prefix {
    text-align: center;
    font-weight: 300;
    font-size: 16px;
    font-style: italic;
    margin-top: 28px;
    margin-bottom: 64px;
}








/* ------------ ENTIRE DATA SECTION (including filter buttons) ------------ */

.data-pane {
    margin-top: 128px;
    width: 100%;
    margin-bottom: 4px;

}

.data-filter-options {
    margin: 48px auto 16px auto;
    background-color: rgb(230, 230, 230);
    border-radius: 100px;
    width: 400px;
    height: 26px;
    padding-left: 12px;
    padding-top: 8px;
    font-size: 15px;
}

#sort {
    margin-left: 134px;
}

h2 {
    font-size: 36px;
    margin-bottom: 64px;
}












/* ------------ ENTIRE DATA TABLE SECTION ------------ */

.data-table {
    padding-top: 8px;
    margin-bottom: 32px;
}

.data-column-header {
    background-color: rgb(240, 240, 240);
    border-style: solid;
    border-width: 1px;
    border-color: #d2d2d2;
}



.column {
    display: inline-block;
    max-width: 302px;
    min-width: 130px;
    margin-right: calc(16% - 64px);
    padding: 24px 0 24px 32px;
    font-weight: 600;
}

.column:last-of-type {
    
    max-width: 302px;
    padding: 0;
    margin: 0;
}



.data-row {
    position: relative;
    display: block;
    background-color: rgb(255, 255, 255);
    min-height: 30px;
    max-height: fit-content;
    padding-left: 32px;
    padding-top: 16px;
    padding-bottom: 16px;
    border-bottom-style: solid;
    border-left-style: solid;
    border-right-style: solid;
    border-color: rgb(210, 210, 210);
    border-width: 1px;

}

.attribute {
    position: absolute;
    display: inline-block;
    font-weight: 500;
    min-width: 130px;
    
}

.description {
    display: inline-block;
    font-size: 14px;
    margin-left: calc(16% + 71px);
    font-weight: 400;
    max-height:20px;
    max-width: 70%;


}






/* ------------ FOOTER ------------ */

.footer {
    display: block;
    text-align: center;
    padding-top: 12px;
    width: 100%;
    height: 40px;
    border-top-style: solid;
    border-color: rgb(200, 200, 200);
    border-width: 1px;
}


